{% assign info = include.project.info %}

{% assign dates = '' | split: '' %}
{% if info.last_release %}
  {% assign dates = dates | push: info.last_release.published_at %}
{% endif %}
{% if info.last_tag %}
  {% assign dates = dates | push: info.last_tag.committer_date %}
{% endif %}
{% assign last_release = dates | sort | last %}

{% if info.user_name and (info.user_name != info.user_login) %}
  {% assign user = '@' | append: info.user_login | append: ' (' | append: info.user_name | append: ')' %}
{% else %}
  {% assign user = '@' | append: info.user_login %}
{% endif %}

<li class="{% if info.user_login == 'bluesky-social' %}official{% endif %}">
  <p class="title">
    <a class="project-name" href="{{ include.project.url | default: include.project.urls[0] }}" target="_blank">{{ include.project.name | default: info.name }}</a>
    <span class="author"><span class="dot">•</span>
      <a href="{{ info.user_profile }}" target="_blank">{{ user }}</a></span>
    {% if info.user_login == "bluesky-social" %}
      <img class="butterfly" src="/assets/images/logo.png" width="16">
    {% endif %}
    <span class="stars">★ <span class="count">{{ info.stars }}</span></span>
  </p>

  <p class="description">
    {{ include.project.description | default: info.description }}
  </p>

  {% if include.project.tags %}
  <p class="tags">
    {% for tag in include.project.tags %}
      <span>{{ tag }}</span>
    {% endfor %}
  </p>
  {% endif %}

  <p class="stats">
    <img src="/assets/images/release.png" width="15"> Last release: {{ last_release | date: "%b %Y" | default: "–" }}
    <span class="separator">|</span>
    <img src="/assets/images/commit.png" width="15"> Last commit: {{ info.last_commit.author_date | date: "%b %Y" }}
    <span class="separator">|</span>
    {% if info.license or include.project.license %}
      <span class="license">{{ include.project.license | default: info.license | replace: "-", " " }}</span>
    {% else %}
      <span class="license unknown">Unknown</span>
    {% endif %}
  </p>
</li>
