---
---

body {
  text-align: center;
  font-family: -apple-system, ui-sans-serif, system-ui, Arial, Helvetica, sans-serif;
  color: #333;
  margin: 40px 0;
}

a {
  text-decoration: none;
  color: hsl(210, 90%, 45%);

  &:hover { text-decoration: underline; }
}

header {
  margin-top: 70px;
  margin-bottom: 50px;

  h1 {
    font-size: 28pt;
    font-weight: 500;
    margin-bottom: 15px;

    a { color: #333; }
  }

  h2 {
    font-size: 12pt;
    font-weight: 500;
  }
}

.language {
  margin-bottom: 40px;

  h2 {
    font-size: 16pt;
    font-weight: 500;
  }
}

.projects {
  list-style-type: none;
  padding-left: 0;
  width: 525px;
  margin: 10px auto;

  li {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px 0px;
    padding: 2px 16px;
    line-height: 125%;
    text-align: left;

    .title { position: relative; padding-right: 35px; }
    .project-name { font-size: 14pt; font-weight: 500; margin-right: 2px; }
    .author { font-size: 11pt; vertical-align: bottom; }
    .author a { color: #333; }
    .author .dot { margin-right: 2px; }
    .stars { position: absolute; right: 0px; font-size: 10pt; color: #666; }
    .stars .count { font-size: 11pt;  }

    .description { line-height: 145%; font-size: 11pt; }

    .stats { margin-top: 15px; font-size: 11pt; }
    .stats img { position: relative; top: 2px; margin-right: 2px; }
    .stats .separator { margin: 0px 5px; font-size: 13pt; }
    .description + .stats { margin-top: 18px; border-top: 1px solid #ddd; padding-top: 15px; }
    .license { border: 1px solid #bbb; border-radius: 5px; padding: 1px 5px; font-size: 10pt; white-space: nowrap; }
  }
}

footer {
  font-size: 10pt;
  margin: 70px 0 40px;
}
