<!DOCTYPE html>
<html lang="en">
<head>
  <title>sdk.blue</title>
  <meta charset="UTF-8">
  <meta name="author" content="Kuba Suder">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Libraries & SDKs for ATProto">
  <meta property="og:description" content="A list of libraries and SDKs for the Bluesky API and AT Protocol">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Libraries & SDKs for ATProto">
  <meta name="twitter:description" content="A list of libraries and SDKs for the Bluesky API and AT Protocol">

  <link href="/assets/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1><a href="/">[sdk.blue]</a></h1>
    <h2>Libraries & SDKs for the AT Protocol</h2>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    © 2024 Kuba Suder (<a href="https://bsky.app/profile/mackuba.eu">@mackuba.eu</a>)
  </footer>
</body>
</html>
