<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="author" content="{{ site.author }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">

  <link href="/assets/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1><a href="/">[sdk.blue]</a></h1>
    <h2>Libraries & SDKs for the AT Protocol</h2>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    © 2024 Kuba Suder (<a href="https://bsky.app/profile/mackuba.eu">@mackuba.eu</a>)
  </footer>

  <div id="github">
    <a href="https://github.com/mackuba/sdk.blue" target="_blank">
      <img src="/assets/images/github.png">
    </a>
  </div>
</body>
</html>
