<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="author" content="{{ site.author }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="/assets/images/embed.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="/assets/images/embed.png">

  <link href="/assets/style.css" rel="stylesheet">
  <script defer src="/assets/scripts.js"></script>
</head>

<body>
  <header>
    <h1><a href="/">[sdk.blue]</a></h1>
    <h2>Libraries, tools & services for the AT Protocol</h2>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    © 2026 Kuba Suder (<a href="https://bsky.app/profile/did:plc:oio4hkxaop4ao4wz2pp3f4cr">@mackuba.eu</a>)
  </footer>

  <div id="tangled">
    <a href="https://tangled.org/mackuba.eu/sdk.blue/" target="_blank">
      <img src="/assets/images/tangled_dolly.svg">
    </a>
  </div>

  <script>
    let _paq = window._paq = window._paq || [];
    _paq.push(["setExcludedQueryParams", ['fbclid']]);
    _paq.push(['setTrackerUrl', 'https://mackuba.eu/deimos/matomo.php']);
    _paq.push(['setSiteId', '10']);
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
  </script>

  <script src="https://mackuba.eu/deimos/matomo.js"></script>
</body>
</html>
